@import '../../global.scss';

#landingPage {
    height: 100vh;
    background-color: #0d0208;
    .nav {
        display: flex;
        justify-content: center;
        width: 100vw;
        .wrapper {
            display: flex;
            width: 50vw;
            justify-content: space-between;
            margin-top: 4vw;
            a {
                text-decoration: none;
                color: #008f11;
                letter-spacing: 1px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                &:hover {
                    color: rgb(108, 218, 181);
                }
            }
        }
        
    }
    .bottom_main {
        display: flex;

        .left_title {
            margin: 15vh 0 0 8vw;
            flex: 0.5;
            .mainHeader {
                font-family: $titleFont7;   //Delete unwanted fonts global.scss     
                color: #be4249;
                font-size: 7.5em;
                font-weight: 350;
                letter-spacing: -10px;
                line-height: 125px;
            }
            .subHeader {
                font-family: $titleFont4;
                color: #008f11;
                font-size: 2.4em;
            }    
        }
        .right_image {
            flex: 0.5;
            .main_image {
                border-radius: 50%;
                height: 50%;
                margin: 10vh 0 0 15vw;
                border-width: 1px;
                border-style: solid;
                border-color: grey;
                box-shadow: 0 30px 40px rgba(0,0,0,.1);
        }
     }
        
    }
}